:root{
    --fondo : #white;
    --letras : #1F2052;
    --fondo-nav : #050505;
    
}

*{
    padding: 0px 0px;
    margin: 0px 0px;    
}

body{
    background-color: var(--fondo);
    display: flex;
    
}

.nav_header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    height: 80px;
    position: fixed;
    background-color: var(--fondo-nav);
    transition: height 0.8s linear 1ms;
}

.menu{
    display: flex;
    gap: 10px;
    margin-right: 50px;
    position: absolute;
    bottom: 10px;
}

.menu > a {
    text-decoration: none; 
    color: white;
    text-align: center;
}

.menu > a > div{
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 10px
}

.img_nav{
    position: absolute;
    border: 1px solid white;
    width: 80px;
    height: 60px;
    left: 16px;
    top: 9px;
    border-radius: 15px;
}

.container {
    /* border: 1px solid yellow; */
    height: 50px;
    margin-top: 87px;
    width: 100%;
    min-height: 450px;
    display: block;
    transition: margin-top 0.8s linear 1ms;
        
}

.welcome{
    /* border: 1px solid white; */
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    z-index: -1;
}

.texto_introductivo{
    /* border: 1px solid purple; */
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion{
    width: 100%;
    border-radius: 50px;
    background-color: rgb(190, 192, 193);
    text-align: center;
    padding: 10px 10px;
    height: 150px;
    font-family: cursive;
    font-size: 16px;
    margin: 10px 50px;
    height: auto;
}

.img_presentacion{
    width: 90%;
    border-radius: 50%;    
}

p{
    margin: 10px 10px;
    padding: 5px 10px;
}

.contacto_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
form{
    border: 1px solid rgb(40, 39, 39);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px grey;
    width: 50%;
    height: 450px;
    text-align: center;
    min-width: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 50%);
    
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

.btn_enviar{
    background-color: transparent;
    width: 100px;
    border-radius: 10px;
    padding: 10px 10px;
    margin: auto;
}

.flecha_menu{
    width: 50px;
    position: absolute;
    background-color: black;
    color: white;
    margin-top: 12px;
    border: 2px solid white;
    padding: 5px 5px;
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
}

#button{
    background-color: black;
    color: white;
    padding: 5px 5px;
    outline: none;
    border-radius: 15px;
}

#button:active{
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
   
    body {
        background-color: var(--fondo);
    }
    .menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 38px;
        gap: 10px;
        margin-bottom: 15px;
    }
    .nav_header {
        display: flex;
        justify-content: center;
        height: 90px;
        z-index: 1;

    }

    .container{
        height: 50px;
        margin-top: 120px;
        width: 100%;
        min-height: 450px;
        display: block;
    }

    .texto_introductivo{
        width: 100%;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 10px;
    }

    p{
        margin: 10px 10px;
        padding: 5px 10px;
    }

    .presentacion{
        width: 80%;
        border-radius: 50px;
        background-color: rgb(190, 192, 193);
        text-align: center;
        padding: 10px 10px;
        height: 150px;
        font-family: cursive;
        font-size: 16px;
        margin: 10px 50px;
        height: auto;
    }

    .img_nav{
        visibility: visible;
    }

    @media screen and (max-width: 380px){
        .nav_header {
            display: flex;
            justify-content: center;
            height: 81px;
            z-index: 1;
        }
        .nav_header_responsive {
            display: flex;
            justify-content: center;
            height: 180px;
            z-index: 1;
            width: 100%;
            flex-wrap: wrap;
            position: fixed;
            background-color: var(--fondo-nav);
            transition: height 0.2s linear 1ms;
        }
        .menu{
            
            visibility: hidden;
            /* display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 38px;
            gap: 10px; */
        }

        .menu_responsive{
            display: grid;
            place-items: center;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 54px;
            padding: 5px 5px;
            gap: 10px;
            margin-bottom: 10px ;
        }
        .menu_responsive > a {
            text-decoration: none;
            color: white;
            padding: 1px 1px;
        }
        .container{
            height: 50px;
            margin-top: 80px;
            width: 100%;
            min-height: 450px;
            display: block;
            
        }

        .container_responsive{
            height: 50px;
            margin-top: 180px;
            width: 100%;
            min-height: 450px;
            display: block;
        }

        .flecha_menu{
            width: 50px;
            position: absolute;
            background-color: black;
            color: white;
            margin-top: 25px;
            border: 2px solid white;
            padding: 5px 5px;
            border-radius: 10px;
            text-align: center;
            visibility: visible;
            z-index: 1;
        }

        .texto_introductivo{
            width: 100%;
            min-height: auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin: 10px 10px;
        }
        
        .presentacion {
            width: 80%;
            border-radius: 50px;
            background-color: rgb(190, 192, 193);
            text-align: center;
            padding: 10px 10px;
            height: 150px;
            font-family: cursive;
            font-size: 16px;
            margin: 17px 50px;
            height: auto;
            margin-left: 18px;
        }

        

    }
  }